# If you have trouble with lxml compilation:
#   apt-get install libxml2-dev libxslt-dev
#
# If you're happy with a possibly older version
# of lxml altogether though, you could try
#   apt-get install python-lxml

git+git://github.com/mattvonrocketstein/goulash.git#egg=goulash

ansi2html
configparser
flask-mongoengine
mongoengine
mutagen==1.21
nltk==2.0.4
processing
progressbar==2.3
pypdf==1.13
pdfminer
pep362==0.6.2
pymongo
unipath==1.0

# unfortunately this may break pip w/
# non-2.6 python versions.  if you're using 2.7,
# might need to comment this line out
importlib==1.0.2

# required by reporting
pygments==1.6
humanize==0.4
requests==1.2.3
demjson==1.6
flask==0.9
Flask-AutoIndex
# TODO: requires SQLAlchemy, ugh.  replace it
imdbpy==4.9
# TODO: can upgrade to .9 now i think?
couchdb==0.8
Importing==1.10
tornado==3.0.2
pytest==2.3.5
unittest2
jinja2
# required by jinja but not installed?
markupsafe==0.18
configparser
hachoir-metadata
hachoir-core
hachoir-parser
# reporting, corkscrew, hammock
git+git://github.com/mattvonrocketstein/reporting.git#egg=reporting
git+git://github.com/mattvonrocketstein/hammock.git#egg=hammock
git+git://github.com/mattvonrocketstein/corkscrew.git#egg=corkscrew
Flask-Silk
Flask-AutoIndex
