# If you have trouble with lxml compilation:
#   apt-get install libxml2-dev libxslt-dev
#
# If you're happy with a possibly older version
# of lxml altogether though, you could try
#   apt-get install python-lxml

flask-sijax

# http://textblob.readthedocs.org/en/latest/quickstart.html
textblob==0.8.3

# https://pypi.python.org/pypi/simserver
#simserver==0.1.4
numpy==1.8.0

ansi2html

mongoengine
mutagen==1.21
nltk==2.0.4
processing
progressbar
pypdf==1.13
#pdfminer
pep362==0.6.2
pymongo
unipath==1.0

# required by reporting
pygments==1.6
humanize==0.4
requests==1.2.3

demjson==1.6
rottentomatoes

# TODO: can upgrade to .9 now i think?
Importing==1.10
tornado==3.0.2
pytest==2.3.5
unittest2
jinja2

# required by jinja but not installed?
markupsafe==0.18
configparser

# for extracting media metadata
hachoir-metadata
hachoir-core
hachoir-parser

# reporting, corkscrew, hammock
git+git://github.com/mattvonrocketstein/reporting.git#egg=reporting
git+git://github.com/mattvonrocketstein/hammock.git#egg=hammock
git+git://github.com/mattvonrocketstein/corkscrew.git#egg=corkscrew

editdistance
goulash==.51

flask-mongoengine
flask
Flask-Silk
Flask-AutoIndex
flask-debugtoolbar

