{% macro render_pagination(pagination, base_url) %}
<div class=pagination>
  {%- for page in pagination.iter_pages() %}
  {% if page %}
  {% if page != pagination.page %}
  <a href="{{base_url}}&page={{page}}">{{ page }}</a>
  {% else %}
  <strong>{{ page }}</strong>
  {% endif %}
  {% else %}
  <span class=ellipsis>…</span>
  {% endif %}
  {%- endfor %}
</div>
{% endmacro %}
{%macro id_calc_link(agent) %}
<a href="javascript:post_to_api('{{agent}}')";>calculate</a>
{%endmacro%}

{%macro anylink(name, list_name, uuid)%}
<script type="text/javascript">//<![CDATA[
//anylinkmenu.init("menuanchorclass");
{%with uuid=uuid|default(name.replace(' ','_'))%}
         var anylinkmenu_{{uuid}} = {divclass:'anylinkmenucols',
         inlinestyle:'', linktarget:''};
         anylinkmenu_{{uuid}}.cols={
              divclass:'column', inlinestyle:''};
         anylinkmenu_{{uuid}}.items={{list_name}};
         //]]>
</script>
<a href="" class="menuanchorclass"
   rel="anylinkmenu_{{uuid|default(name.replace(' ','_'))}}[click]" rev="up">
  <b><u>{{name}}</b></u><br/>
</a>
{%endwith%}
{%endmacro%}
