{% import 'ixle_macros.html' as macros %}
{%block body%}
<script>
  var list_nav_ixle_find = [
  ['search',"/search"],
  ['browse',"/browser"],
  ['filter by fext',"/fext"],
  ['filter by file_type',"/file_type"],
  ['filter by newest',"/newest"],
  ['show events',"/events"]
  ];
  var list_nav_ixle_do = [
  ['show local modal', "javascript:show_modal()"],
  ['bookmark this page', "javascript:bookmark_this_page()"],
  ['fill in data by field', "/fill"]
  ];
  var list_nav_ixle2 = [
  ['configure database','/_db'],
  ['configure ixle settings','/_settings'],
  ['configure remote mounts','/remotes']
  ];</script>
&nbsp;&nbsp;&nbsp;&nbsp;
<table style="margin-left:15px;" border=1 class=rounded-corner>
  <thead><tr>
      <th> <a href="/">home</a> </th>
      <th>
        {%with list_name='list_nav_ixle_find', name='find stuff'%}
        {{macros.anylink(name, list_name)}}
        {%endwith%}
      </th>
      <th>
        {%with list_name='list_nav_ixle_do', name='do stuff'%}
        {{macros.anylink(name, list_name)}}
        {%endwith%}
      </th>
      <th>
        {%with list_name='list_nav_ixle2', name='db and settings'%}
        {{macros.anylink(name, list_name)}}
        {%endwith%}
      </th>

      {%if _%}
      <th>
        <script>
          var agent_list = [
          {%for agent in agents%}
          ['{{agent}}',"javascript:post_to_api('{{agent.lower()}}')"]{%if not loop.last%},{%endif%}{%endfor%}
          ];
        </script>
        {%with uuid='apply_agent', list_name='agent_list', name='apply agent'%}
        {{macros.anylink(name, list_name, 398723)}}
        {%endwith%}
      </th>
      {%endif%}

    </tr>
  </thead>
</table>
<script>
  {%include "javascript/post_to_api.js" %}
  $(document).ready(function(){
  setTimeout(function(){
  console.debug('cawling');
  anylinkmenu.trueinit("menuanchorclass");}),3000});
</script>
{%endblock%}
