<hr/>
<strong>Tags:</strong>
<small>
  <a href="javascript:copy_tags()">copy</a>
  <a href="{{this_url}}?_={{item.path}}&reset_tags=1">reset</a>
</small>
<div style="margin-top:5px;margin-left:15px;">
  <script>
    var item_tags={{dumps(item.tags)|safe}};
    $(document).ready(function(){json2html(item_tags, 'item_tags_display')})
    function copy_tags(){
    {#copy2clipboard('{{dumps(item.tags)|safe}}');#}
    }
  </script>
  <div style="width:800px;" id=item_tags_display></div>
</div>
</div>
<script>
  {%with abspath=item.path%}{%include "javascript/dir_view_widget.js"%}{%endwith%}
</script>
